/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Cormorant SC', serif;
}

/* diseño de sección bienvenida*/

.section-welcome{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#koala{
	color: whitesmoke;
}

.section-welcome h1{
	padding-top: 2em;
	font-weight: 600;
	font-size: 40px;
	text-align: left;
}

.section-welcome p{
	padding-top: 2em;
	font-size: 25px;
	font-weight: 400;
	text-align: left;
	width: 30%;
}

.section-welcome button{
	background-color: #06500F;
	margin-right: 1000px;
	width: 80px;
	border-radius: 5px;
}

/*diseño para sección two*/

.section-two{
	background-color: #FFF;
	padding: 5em 0;
	display: inline;
}

.title-second{
	color: #898C25;
}

.features{
	padding: 0.8em;
}

.section-two p{
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #666;
	margin-top: 1em;
}

/*diseño para sección tres*/

.section-tres{
	background-color: #888830;
}

.title-tres{
	color: #1E4B04;
}

.section-tres p{
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: whitesmoke;
	margin-top: 1em;
}

.section-tres button{
	color: whitesmoke;
	background-color: #06500F;
	margin-right: 1000px;
	width: 80px;
	border-radius: 5px;
}

.section-tres img{
	margin-left: 690px;
	margin-top: -200px;
	border: white 5px solid;
}

/* diseño de sección four*/

.section-four{
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#four{
	color: whitesmoke;
}

.section-four h1{
	font-weight: 600;
	font-size: 30px;
	text-align: left;
}

.section-four p,
.section-four h3{
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	width: 30%;
	margin-top: 5px;
}

/*diseño para sección five*/

.section-five{
	background-color:#888830;
	padding: 5em 0;
}

.title-second{
	color: #898C25;
}

.section-five p{
	font-weight: 300;
	font-size: 18px;
	color: whitesmoke;
	display: inline;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	float: right;
}
