/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Cormorant SC', serif;
}

/* diseño de sección bienvenida*/

.section-welcome{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#koala{
	color: whitesmoke;
}

.section-welcome h1{
	padding-top: 2em;
	font-weight: 600;
	font-size: 40px;
	text-align: left;
}

.section-welcome p{
	padding-top: 2em;
	font-size: 25px;
	font-weight: 400;
	text-align: left;
	width: 30%;
}

.section-welcome button{
	background-color: #06500F;
	margin-right: 1000px;
	width: 80px;
	border-radius: 5px;
}

/*diseño para sección two*/

.section-two{
	background-color: #FFF;
	padding: 5em 0;
}

.title-second{
	color: #898C25;
}

.features{
	padding: 0.8em;
}

.features:hover{
	background-color: #F2F2F2;
	cursor: pointer;
}

.features-sect2{
	display: inline;
}

p{
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #666;
	margin-top: 1em;
}